@import "_mixins.scss";

@include fontface("PingFang", "PingFang", "PingFang-SC-Regular", 400)
@include fontface("PingFang", "PingFang", "PingFang-SC-Light", 300)
@include fontface("PingFang", "PingFang", "PingFang-SC-Bold", 600)
@include fontface("Helvetica", "Helvetica", "HelveticaRegular", 400)

body {
  font-family: "PingFang", sans-serif;
  font-weight: 400;
}

:root {
  --q-color-main-tsu: #0F0F0F;
  --q-color-main-tsu-buttons-bg: #0F0F0F;
  --q-color-main-tsu-buttons-icon: #fff;
  --q-color-main-tsu-card-bg: #fff;
  --q-color-main-tsu-card-text: #000;
}

.bg-main-tsu-card-bg {
  background: var(--q-color-main-tsu-card-bg) !important;
}

.text-main-tsu-card-text {
  color: var(--q-color-main-tsu-card-text) !important;
}

.bg-theme-default {
  background: $theme-default;
}

.bg-theme-darken {
  background: $theme-darken;
}

.bg-main-tsu {
  background: $main-tsu !important;
  background: var(--q-color-main-tsu) !important;
}

.text-main-tsu {
  color: var(--q-color-main-tsu-card-text) !important;
}

.bg-main-tsu-buttons-bg {
  background: $main-tsu-buttons-bg;
  background: var(--q-color-main-tsu-buttons-bg) !important;
}

.text-main-tsu-buttons-icon {
  color: $main-tsu-buttons-icon;
  color: var(--q-color-main-tsu-buttons-icon) !important;
}

.tabs-drawer--active {
  background: #000 !important;
}

.settings-items-header {
  font-weight: 600;
  margin-bottom: 12px;
}

.overlay-menu-card {
  padding: 26px 37px;
  font-weight: 600;
  border-radius: 18px;
  font-size: 24px;
  min-height: 125px;
  max-height: 125px;
  text-overflow: ellipsis;
  &__label {
    display: block;
    line-height: 39px;
    &--chapter {
      line-height: 30px;
      font-weight: 400;
      font-size: 22px;
    }
    &--quotes {
      font-size: 22px;
      font-weight: 400;
      max-width: 95%;
    }
  }
}

.q-tab-panels {
  background: none;
}

.q-tab-panel {
  padding: 0;
}

.q-panel > div {
  height: auto;
}
